.clock {
    font-size: 42px;
    text-align: right;
    margin-top: auto;
}


@media screen and (max-width: 1280px) {
    .clock {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .clock {
        font-size: 18px;
    }
}
