.app-footer {
    flex: 1;
    outline: 2px solid var(--blue);
    border-top: 2px solid white;
    background-color: var(--blue);
    flex-shrink: 0;
    padding: 0px 15px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-item {
    font-size: 40px;
}

@media (max-width: 1280px) {
    .footer-item {
        font-size: 34px;
    }
}


@media (max-width: 768px) {
    .footer-item {
        font-size: 24px;
    }
}