.app-header {
    background: var(--dark-purple);
    padding-top: 20px;
}

.app-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: var(--sunset-gradient-right) transparent;
}

.app-header-item {
    display: flex;
    z-index: 1;
}

.page-title {
    padding: 0 10px;
}

.app-header-item-column {
    display: flex;
    flex-direction: column;
}

.options-gear {
    margin-left: auto;
    align-items: right;
}

.location-container {
    font-size: 48px;
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 1.5;
}

.logo {
    max-width: auto;
    height: 150px;
    display: block;
}

.clock {
    font-size: 42px;
    align-items: end;
    margin-top: auto;
}

@media screen and (max-width: 1280px) {
    /* Adjust font sizes. */
    .location-container {
        font-size: 42px;
    }

    .clock {
        font-size: 32px;
    }

    /* Shrink images. */
    .logo {
        max-height: 120px;
    }
}

@media screen and (max-width: 768px) {
    /* Adjust font sizes. */
    .location-container {
        font-size: 22px;
    }

    .clock {
        font-size: 18px;
    }

    /* Shrink images. */
    .logo {
        max-height: 85px;
    }
}
