@import 'app/card_container.module.css';

main {
    background: var(--sunset-gradient-top) fixed;
}

.card-item {
    padding: 20px 60px;
}

.condition-container {
    margin-bottom: 150px;
}

.condition-icon {
    min-height: 150px;
}

.details {
    font-size: 42px;
    text-align: right;
    line-height: 2rem;
}

.details-heading {
    text-align: left;
}

.temperature {
    font-size: 84px;
}

@media screen and (max-width: 1280px) {
    /* Reduce font sizes for smaller screens. */
    body {
        font-size: 24px;
    }
    .details {
        font-size: 30px;
        line-height: 1.25rem;
    }
    .temperature {
        font-size: 58px;
    }
        
    /* Shrink images. */
    .condition {
        min-height: 133px;
        max-height: 133px;
    }
}

@media screen and (max-width: 768px) {
    /* Reduce font sizes for smaller screens. */
    body {
        font-size: 18px;
    }
    .details {
        font-size: 22px;
    }
    .temperature {
        font-size: 36px;
    }
}
