.forecast-container {
    display: flex;
    justify-content: space-around;
    min-height: 70vh;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 25px;
    border: 10px solid white;
    padding: 2vh 6vh 2vh 6vh;
    height: auto;
    min-width: 250px;
    max-width: 250px;
    background: var(--skies-gradient-top) fixed;
    text-align: center;
}

.day {
    color: yellow;
    font-size: 72px;
}

.condition-icon {
    max-height: 222px; /* Should be set to the maximum height of images found
                          in images/conditions. */
}

.condition-text {
    font-size: 56px;
}

.temperature-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temperature-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.temperature-type {
    font-size: 48px;
}

.temperature {
    font-size: 64px;
}

@media screen and (max-width: 1280px) {
    /* Reduce font sizes for smaller screens. */
    .day {
        font-size: 54px;
    }
    .condition-text {
        font-size: 48px;
    }
    .temperature-type {
        font-size: 42px;
    }
    .temperature {
        font-size: 56px;
    }
    

    /* Shrink images. */
    .condition-icon {
        min-height: 110px;
        max-height: 110px;
    }

    /* Reduce width of forecast items.  */
    .forecast-item {
        min-width: 140px;
        max-width: 140px;
    }
}

@media screen and (max-width: 768px) {
    /* Stack forecast items vertically for mobile. */
    .forecast-container {
        align-items: center;
        flex-direction: column; 
        justify-content: space-between;
        gap: 20px;
    }

    /* Reduce font. */
    .condition-text {
        font-size: 32px;
    }
    .temperature-type {
        font-size: 30px;
    }
    .temperature {
        font-size: 36px;
    }

    /* Shrink images. */
    .condition-icon {
        min-height: 90px;
        max-height: 90px;
    }
}
