@import "app/card_container.module.css";

.observations-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.observations-header {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr 2fr;
    text-shadow: 3.5px 3px 0px black;
}

.latest-observations-container {
    display: flex;
    flex-direction: column;
    grid-row-gap: 35px;
    font-size: 42px;
    text-shadow: 3.5px 3px 0px black;
}

.latest-observations {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr 2fr;
}