@import 'app/card_container.module.css';

.card-item {
    padding: 20px 60px;
}

.forecast {
    font-size: 38px;
    line-height: 1.5rem;
}

@media screen and (max-width: 1280px) {
    /* Reduce font sizes for smaller screens. */
    body {
        font-size: 24px;
    }
    .forecast {
        font-size: 30px;
        line-height: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    /* Reduce font sizes for smaller screens. */
    body {
        font-size: 18px;
    }
    .forecast{
        font-size: 22px;
    }
}
