.local-forecast-main {
    padding: 0vh 2vh;
    background: var(--sunset-gradient-top) fixed;
}

.local-forecast-container {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    width: 50vw;
    margin: auto;
    background: var(--dark-blue);
}

.local-forecast-item {
    padding: 10px;
}

.forecast {
    font-size: 42px;
    line-height: 2rem;
}

@media screen and (max-width: 1280px) {
    /* Reduce font sizes for smaller screens. */
    body {
        font-size: 24px;
    }
    .forecast {
        font-size: 30px;
        line-height: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    /* Reduce font sizes for smaller screens. */
    body {
        font-size: 18px;
    }
    .forecast{
        font-size: 22px;
    }
}
