.travel-forecasts-container {
    display: flex;
    flex-direction: column;
    min-height: 72vh;
    background: var(--dim-blue);
    color: yellow;
    font-size: 64px;
}

.travel-header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    text-align: center;
    background: var(--dark-purple);
    font-size: 32px;
}

.travel-forecasts { 
    display: flex;
    flex: 1;
    flex-direction: column;
    place-content: space-around;
    height: 100%;
}

.travel-forecast {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    place-content: center;
    text-align: center;
}

.condition-icon {
    height: 100px;
}
