.options {
    display: flex;
    flex-direction: column;
    min-width: 750px;
    width: auto;
}

.toggleOptionsButton {
    margin: auto;
    cursor: pointer;
    transition: fill 0.3s;
}

.toggleOptionsButton:hover {
    fill: var(--light-blue);
}

.tabContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin: 0 auto;
    background-color: gray;
    border-bottom: 5px solid white;
}

.tabs {
    padding: 0px;
    margin-right: auto;
    text-align: left;
}

.tabButton {
    border-radius: 0px !important;
}

.tabButton.activeTab {
    background-color: #333;
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    height: 400px;
    padding: 20px;
}

@media (max-width: 768px) {
    .options {
        min-width: unset;
        width: 350px;
    }
}
