.homepage-footer {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-content: center;
    background-color: var(--blue-hawk);
    font-size: 22px;
    padding: 0px 30px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-contact a, .footer-contact a:visited {
    color: var(--orange);
}

.icon {
    max-height: 20px;
}
