.homepage-footer {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-content: center;
    background-color: var(--blue-hawk);
    font-size: 28px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 25px;
}
   
.footer-nav a, .footer-nav a:visited {
    text-decoration: none;
    color: white;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-bottom: 30px;
}

.footer-contact a, .footer-contact a:visited {
    color: var(--orange);
}

.icon {
    max-height: 20px;
}
