.homepage-header {
    background-image: url('@images/backgrounds/landing_skies.jpg');
    background-size: cover;
    min-height: 80vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    position: sticky;
}

.logo-image {
    margin-right: auto;
    max-height: 125px;
}

.header-links {
    margin-left: auto;
    padding-right: 5%;
}

button:hover {
    background-color: var(--purp-shadow);
}

.about-button {
    background-color: white;
    color: black;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.signin-button {
    background-color: white;
    color: black;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.header-text {
    font-family: 'Arial';
    font-size: 200px;
    color: white;
    text-align: center;
}
